#@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

.dropdown-toggle { display: none;}
.main-dropdown-menu { display: none;}

.speca-brand .title {
    background: #42a1ff;
    background-image: url("https://mark.doxmit.com/api/v1/images/logo.png");
    width: 158px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0px;
    padding-left: 50px;
}
.under-title { display:none;}

#topAnchor { background-color: #42a1ff; }
#appendixHeader { display: none; }
#dr_appendix {display: none; }

.title img { margin-top: -3px}

h1:after {content:" API";}

div.methodHeader div button.btn.btn-sm {
    display:none;
}

.powered-by-sidebar {
    display:none;
}

.sidebar-h {
    background-color: #62676E;
}

.body { color: #212121; }

.sidebar-nav .nav li a { color: #383838; }

.field-type { color: #212121; }

.requiredText {color: #444; }

h5 { color: #444; }

.spec-header h1 { 
#     font-family: Arvo, Tahoma;
     font-size: 50px;
     color: #42a1ff;
     border-bottom: 3px solid #42a1ff;
}

.spec-header .description {
font-size: 24px;
}

#top.spec-header {
padding:40px;
}

#commonHeader { display: none; }

#commonHeader ~ .nav.expanded { display: none; }
