.modal-backdrop{
    opacity: .5;
}

/* JSONView */

.jsonview {
    font-size: 12px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;line-height: 16px;font-size: 12px;
    white-space: pre-wrap;
}

.jsonview .prop {
    /*font-weight: bold;*/
    color: #008080;
}

.jsonview .null {
    color: #000;
}

.jsonview .bool {
    color: #000;
}

.jsonview .num {
    color: #000;
}

.jsonview .string {
    color: #d14;
    white-space: pre-wrap;
}

.jsonview .string.multiline {
    display: inline-block;
    vertical-align: text-top;
}

.jsonview .collapser {
    position: absolute;
    left: -1em;
    cursor: pointer;
}

.jsonview .collapsible {
    transition: height 1.2s;
    transition: width 1.2s;
}

.jsonview .collapsible.collapsed {
    height: .8em;
    width: 1em;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.jsonview .collapsible.collapsed:before {
    content: "…";
    width: 1em;
    margin-left: .2em;
}

.jsonview .collapser.collapsed {
    transform: rotate(0deg);
}

.jsonview .q {
    display: inline-block;
    width: 0px;
    color: transparent;
}

.jsonview li {
    position: relative;
}

.jsonview ul {
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0;
}

.jsonview h1 {
    font-size: 1.2em;
}


/* COMMON */

p,
li,
li a {
    color: #555;
}

a {
    text-decoration: none;
}

a,
a:focus,
a:hover,
a:active {
    outline: 0 !important;
}
a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/*Headings*/
h1 {
    font-size: 28px;
    line-height: 35px;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}
h3 {
    font-size: 20px;
    line-height: 27px;
}
h4 {
    line-height: 25px;
}
h5 {
    line-height: 20px;
}
h6 {
    line-height: 18px;
}



h1, h2, h3, h4, h5, h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right: 5px;
}

h3.heading-sm {
    font-size: 15px;
    line-height: 20px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: normal;
    border-radius: 4px;
}

body {
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    color: #555;
    font-size: 14px;
}

code {
    font-size: 80%;
}

p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

th {
    color: #555;
}

h5 {
    color: #707070;
}

pre {
    display: block;
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

pre code {
    font-size: 12px;
    display: block;
    padding: 5px;
    margin: 0;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    line-height: 16px;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 3px;

}

blockquote {
    background-color: rgba(128,128,128,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    border-left: 10px solid rgba(128,128,128,0.075);
}

blockquote p {
    font-size: 16px;
    line-height: 1.45;
    font-weight: 300;
    text-align: justify;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.hr {
    margin: 5px 0;
    height: 1px;

    border-top: 1px solid #D8DEE2;
}

.exampleUrl {
    word-break: break-all;
    /*color: rgb(192, 80, 77);*/
    color: rgb(49, 132, 149);
    display: inline;
    font-size: 13px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.exampleUrl  code {
    font-size: 100%;
    padding: 2px;
}
.method-ref{
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.httpUrl {
    word-break: break-all;
    /*color: rgb(192, 80, 77);*/
    color: rgb(49, 132, 149);
    display: inline;
    font-size: 13px;
    padding: 3px 5px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.httpUrl > code {
    font-size: 95%;
    padding: 2px;
}

.httpUrl.big {
    font-size: 16px;
}

.httpMethod {
    font-weight: bold !important;
    padding: 3px 5px;
    color: #fff !important;
    text-align: center;
    width: 70px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 12px;
}

.httpMethod.small {
    font-weight: bold !important;
    padding: 3px;
    color: #fff !important;
    text-align: center;
    width: 46px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 10px;
}

.httpMethod.select {
    cursor: pointer;
}

.httpMethod.select:focus {
    cursor: pointer;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.httpMethod.big {
    font-weight: bold;
    font-size: 18px;
}

.httpMethod[data-method^=POST] {
    background-color: #3a87ad;
}

.httpMethod.select[data-method^=POST]:hover, .httpMethod.select[data-method^=POST]:focus {
    background-color: #3276b1 !important;
}

.httpMethod[data-method^=GET] {
    background-color: #5cb85c;
}

.httpMethod.select[data-method^=GET]:hover, .httpMethod.select[data-method^=GET]:focus {
    background-color: #47a447 !important;
}

.httpMethod[data-method^=PUT] {
    background-color: #e67e22;
}

.httpMethod.select[data-method^=PUT]:hover, .httpMethod.select[data-method^=PUT]:focus {
    background-color: #d35400 !important;
}

.httpMethod[data-method^=PATCH] {
    background-color: #324c80;
}

.httpMethod.select[data-method^=PATCH]:hover, .httpMethod.select[data-method^=PATCH]:focus {
    background-color: #4765a0 !important;
}

.httpMethod[data-method^=DELETE] {
    background-color: #e74c3c;
}

.httpMethod.select[data-method^=DELETE]:hover, .httpMethod.select[data-method^=DELETE]:focus {
    background-color: #c0392b !important;
}

.httpMethod[data-method^=OPTIONS] {
    background-color: #95a5a6;
}

.httpMethod.select[data-method^=OPTIONS]:hover, .httpMethod.select[data-method^=OPTIONS]:focus {
    background-color: #7f8c8d !important;
}

.httpMethod[data-method^=HEAD] {
    background-color: #9c8061;
}

.httpMethod[data-method^=HEAD]:hover, .httpMethod[data-method^=HEAD]:focus {
    background-color: #81674b !important;
}

.field-type {
    font-size: 13px;
    color: #555;
    padding: 2px 0 0 10px;
}

.field-type .primitive {
    text-transform: capitalize;
    font-family: "Courier New", monospace;
    font-size: 14px;
}

.field-type .enum {
    text-transform: capitalize;
    font-family: "Courier New", monospace;
    font-size: 14px;
}


.field-type .primitive[data-field-type^=unknown]{
    border-bottom: dashed 1px #b94a48;
}
.field-type .primitive[data-field-type^=data]{
    font-weight: bold;
    text-transform: none;
}
.field-type .primitive[data-field-type^=Data]:after {
    content: '*';
    font-size: 80%;
    margin: 0 0 0 0.1em;
    vertical-align: top;
    color : rgb(236, 6, 6);
}


.desc-view {
    margin: 10px 0 20px 0;
    background: transparent;
}

.field-row-header {
    font-weight: bold;
    height: 25px
}

.view-row {
    position: relative;
    padding: 8px 0;
}


.field-row {
    border-top: 1px solid #eeeeee;
}

/*.field-row:last-child {*/
/*border-bottom: 1px solid #eeeeee;*/
/*}*/

.field-row[class*="span"] {
    margin-left: 2%;
}
#doc .field-row:hover {
    background-color: inherit !important;
}


.field-row:hover {
    background-color: #fafafa;
}

.fieldname {
    /*font-family: Menlo, source-code-pro, monospace;  */
    /*font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;*/
    word-break: break-all;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: rgb(49, 132, 149);
    /*color: rgb(192, 80, 77);*/
    font-size: 14px;
}

.fieldname a {
    font-size: 13px;
    padding: 5px;
}

.required:after {
    content: '*';
    font-size: 80%;
    margin: 0 0 0 0.1em;
    vertical-align: top;
    color: rgb(236, 6, 6);
}

.fieldvalue {
    font-family: Menlo, source-code-pro, monospace;
    word-break: break-all;
    font-size: 12px;
}

.field-row.edit-row .requiredText {
    font-size: 12px;
    color: #555;
    font-weight: normal;
    cursor: pointer;
}

.field-row.edit-row .type {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.field-row-example-label {
    line-height: 30px;
    padding: 0;
    text-decoration: underline;
    font-size: 12px
}

.field-row-example {
    font-family: source-code-pro, monospace;
}

.example {
    margin-top: 5px;
}

.field-row .example span {
    -webkit-user-select: all;
    user-select: all;
}

.field-row .example span.lbl {
    font-size: 12px;
    text-decoration: underline
}

.field-row .example span.val {
    font-family: source-code-pro, monospace;
    word-break: break-all;
    margin-left: 5px;
    font-size: 13px;
}

.field-row .example span.val:after {
    content: ','
}

.field-row .example span.val:last-child:after {
    content: none
}

.array {
    font-family: source-code-pro, monospace;
}

.nullableText:before {
    content:',';
    color: #777;
}
.nullableText {
    font-style: italic;
    font-size: 12px;
    color: #ec9d1e;
    font-weight: normal;
    margin-bottom: 0;
    font-family: source-code-pro, monospace;
}

.requiredText {
    font-size: 12px;
    color: #777;
    font-weight: normal;
    margin-bottom: 0;
    padding: 5px 15px;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
}

.requiredText[data-required-param='true'] {
    font-weight: bold;
}

.param-multiple {
    color: #690;
}

.field-nullable {
    color: #fae33b;
}

.fieldFlags > .requiredText {
    padding: 0;
}

.code-style {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    /*font-weight: bold; font-family: source-code-pro, monospace;*/
}

.methodActive .method-name {
    font-size: 20px;
}

.methodActive .httpUrl {
    font-size: 16px;
}

.methodActive .httpMethod {
    font-size: 16px;
}

.method-name {
    font-size: 16px;
}

.modelList {
    margin-top: 10px
}

.modelDef {
    padding-bottom: 40px;
}

.modelHeader {
    padding-bottom: 10px;
}

.modelName {
    font-size: 16px;
}

.modelName-error {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

.modelFields {
    font-size: 13px;
    color: #555;
    margin-top: 20px
}

.embedded-model {
    border-left: 2px solid #ccc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.errorStatus {
    color: #c7254e;
    font-size: 14px;
    font-weight: bold;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.fieldErrors {
    color: #b94a48;
}

.fieldErrors > .help-block {
    color: #b94a48;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 8px;
}

.httpStatus {
    font-size: 13px;
    font-weight: bold;
}

.httpStatus.big {
    font-size: 16px;
}

.httpStatus h5 {
    display: inline;
}

.httpStatus span {
    color: rgb(199, 37, 78);
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.comboLink {
    text-decoration: none;
    margin:0 5px;
    border-bottom: dashed 1px #0088cc;
}

.comboLink:hover {
    text-decoration: none;
}


/*.modelReferences {*/

/*}*/

/*.modelReferences a {*/
    /*font-size: 12px;*/
    /*color: #888;*/
/*}*/


/*.modelReferences a:hover {*/
    /*color: #3498db;*/
    /*text-decoration: none;*/
/*}*/

/*.modelReferences span:after {*/
    /*content: ', ';*/
/*}*/

/*.modelReferences span:last-child:after {*/
    /*content: '';*/
/*}*/

.descriptionLabel {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.block {
    padding: 15px 0;
}


.link-internal:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 70%;
    margin-left: 2px;
    margin-top: -5px;
}



.link-method:after {
    content: '\f013';
}

.link-doc:after {
    content: '\f15b';
}

.link-model:after {
    content: '\f007';
}

.link-enum:after {
    content: '\f0c9';
}

.link-group:after {
    content: '\f0c0';
}

.link-broken:after {
    content: '\f127';
    color: #a94442;
}

.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.heading {
    position: relative;
}

.heading > a {
    display:none;
    position: absolute;
    right:-30px;
    font-size: 18px;
    top:5px;
}



.internal-model-header {
    padding: 15px 0;
}

.internal-model-header .heading {
    font-size: 16px;
}

.internal-model-header:hover a.anch {
    display:inline;
}



/* COMMON END */
/* navbar.css */

* {
    border-radius: 0 !important;
}
.navbar-speca {
    background-color: #5c646e;
    border: none;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.navbar-speca .navbar-brand {
    color: #fff;
    padding: 18px 15px 15px 25px;
    margin-right: 15px;
}
.navbar-speca .navbar-brand:hover,
.navbar-speca .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-speca .navbar-brand>sub {
    font-size: 13px;
    position: relative;
    top: 12px;
    left: -2px;
    -webkit-font-smoothing: antialiased;
}
.navbar-speca .navbar-text {
    color: #999;
}
.navbar-speca .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.870588);
    padding: 25px 15px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
.navbar-speca .navbar-nav > li > a:hover,
.navbar-speca .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    background-color: #282828;
}
.navbar-speca .navbar-nav > .active > a,
.navbar-speca .navbar-nav > .active > a:hover,
.navbar-speca .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #282828;
}
.navbar-speca .navbar-nav > .disabled > a,
.navbar-speca .navbar-nav > .disabled > a:hover,
.navbar-speca .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-speca .navbar-toggle {
    border-color: #333;
    padding: 20px;
}
.navbar-speca .navbar-toggle:hover,
.navbar-speca .navbar-toggle:focus {
    background-color: #333;
}
.navbar-speca .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-speca .navbar-collapse,
.navbar-speca .navbar-form {
    border-color: #101010;
}
.navbar-speca .navbar-nav > .open > a,
.navbar-speca .navbar-nav > .open > a:hover,
.navbar-speca .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .navbar-speca .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-speca .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-speca .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-speca .navbar-nav .open .dropdown-menu > li > a {
        color: rgba(255, 255, 255, 0.870588);
    }
    .navbar-speca .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-speca .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-speca .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-speca .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-speca .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-speca .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-speca .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-speca .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-speca .navbar-link {
    color: #999;
}
.navbar-speca .navbar-link:hover {
    color: #fff;
}

.navbar-speca.fixed {
    position: fixed;
    top:-65px;
    margin: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 5px;
    transition: .5s top cubic-bezier(0, 1, 0.5, 1);;
}

.navbar-speca-spacer {
    height: 70px;
    display: none;
    margin-bottom: 20px;
    background-color: #5C646E;
}

.navbar-speca-spacer.fixed{
    display: block;
}

.navbar-speca.fixed.slide_down{
    top:0;
    transition: .5s top cubic-bezier(0, 1, 0.5, 1);;
}



#username>li>a {
    min-width: 170px;
    padding: 20px 15px 18px 15px;
}
#username>li>ul {
    width: 100%;
}
#username .dropdown-menu>li>a {
    padding: 5px 20px;
}

.main-dropdown-menu{
    margin-right: 15px;
}
.main-dropdown-menu .dropdown-menu {
    min-width: 250px;
}
.main-dropdown-menu .dropdown-menu >li>a {
    padding: 5px 20px;
}

.edit-menu-item {
    display: none;
}


/* navbar.css end */





/* SIDEBAR.css */

#wrapper2 {
    padding-left: 320px;
    transition: all 0.4s ease 0s;
}


#sidebar-wrapper {
    position: absolute;
    width: 316px;
    top: 85px;
    overflow-x: hidden;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    -webkit-transition: padding-top 500ms ease, left 200ms ease;
    -moz-transition: padding-top 500ms ease, left 200ms ease;
    transition: padding-top 500ms ease, left 200ms ease;
    background: #FFF;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
    height: 100%;
}

#sidebar-wrapper.fixed {
    position: fixed;
    top: 15px;
}



#page-content-wrapper {
    width: 100%;
}

.page-content {
    padding: 0px 15px;
    max-width: 1024px;
    margin: 20px auto;
}

.spec-header {
    margin: 50px 0;
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}

.spec-header>h1 {
    font-size: 42px;
    margin-bottom: 30px;
    line-height: 50px;
}

.sidebar-nav {
    /*position: absolute;*/
    /*top: 0;*/
    width: 316px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav > li {
    margin-bottom: 2px
}

.sidebar-nav .nav li a {
    color: #777;
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    word-wrap: break-word;
}

.sidebar-nav .nav li:hover {
    background-color: #fafafa;
}

.nav.collapsed {
    display: none;
}

.nav.expanded {
    display: block;
}

/*.sidebar-nav li a {*/
/*color: #999999;*/
/*display: block;*/
/*text-decoration: none;*/
/*}*/

/*.sidebar-nav li a:hover {*/
/*color: #fff;*/
/*background: rgba(255,255,255,0.2);*/
/*text-decoration: none;*/
/*}*/

/*.sidebar-nav li a:active,*/
/*.sidebar-nav li a:focus {*/
/*text-decoration: none;*/
/*}*/

.sidebar-nav > .sidebar-head {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.sidebar-nav > .sidebar-head > a {
    color: #777;
    text-decoration: none;
}

.sidebar-nav > .sidebar-head sub {
    position: relative;
    top: 10px;
    left: -5px;
}


.speca-brand {
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    display:table-cell;    
    min-width: 250px;
}

.speca-brand > .title{
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
    display:table-cell;
    height:inherit
}
.speca-brand > .logo{
    margin-top: 5px;
    background: #fff;
    float: left;
    margin-right: 15px;
    padding: 2px;

    width: 44px;
    height: 44px;
}

.speca-brand > .logo > img{
    vertical-align: inherit;
}


.speca-brand .under-title{
    padding-left: 5px;
}


.speca-brand .by{
    font-size: 12px;
    color: #ddd;
}

.speca-brand .by a {
    font-size: 14px;
    color: #eee;
}

.speca-brand .by a:hover{
    font-size: 14px;
    color: #fff;
}

.speca-brand .versions .dropdown > a {
    font-size: 14px;
    color: #eee;
    font-style: italic;
}

.speca-brand .versions .dropdown > a:hover{
    font-size: 14px;
    color: #fff;
}

.speca-brand .view-button {
    float:right;
    padding: 2px 10px;
    font-size: 14px ;
}

.speca-brand a.view-button {
    color: #eee;
}
.speca-brand a.view-button:hover{
    color: #fff;
}



.sidebar-brand h4 {
    margin-bottom: 5px;
}

.sidebar-brand a {

    /*// color: #555;*/
}

.sidebar-brand a:hover {
    color: #3498db;
}

.content-header {
    height: 65px;
    line-height: 65px;
    display: none;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.sidebar-h {
    background: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #818A96;
}

.sidebar-h > a {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 10px 10px 20px;
}

.sidebar-h > a > i {
    float: right;
    padding: 5px;

}

.sidebar-h:hover {
    background: #2b303b;
}

.sidebar-h a:hover {
    background: #2b303b;
}

.none {
    padding: 8px 30px;
    font-size: 90%;
    font-style: italic;
}

.group {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.group>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    display: inline-block;
}

.group>a:hover {
    background-color: #eee;
}


.group>a>i {
    padding: 8px 0;
    font-size: 10px;
    color: #555;
    float: right
}

.sidebar-h-btns {
    float: right;
    margin-right: 10px
}

.sidebar-h-btns>span {
    font-size: 14px;
    color: #ddd;
    padding: 5px 2px;
}

.sidebar-h .sidebar-h-btns>span {
    font-size: 15px;
}



.sidebar-h-btns>span:hover {
    color: #fff;
}

.group .sidebar-h-btns>span {
    color: #716b7a;
}

.group .sidebar-h-btns>span:hover {
    color: #54515d;
}

.oper {
    font-size: 14px;
}

.sidebar-nav .nav li.oper>div>a, .sidebar-nav .nav li a.method-item {
    padding-left: 10px;
    margin-left: 20px;
    border-left: 1px solid #ddd;
}

.sidebar-nav .nav li.oper>div>a:hover {
    background-color: #eee;
}

.sidebar-nav .nav li.oper > ul > li>a {
    padding: 2px 20px 2px 35px;
    font-size: 13px;
    margin-left: 20px;
    border-left: 1px solid #ddd;
}

.oper>div.active>a {
    font-weight: 500;
    color: #3498db;
}

.sidebarItemLoading {
    position: absolute;
    left: 4px;
    top: 8px;
    color: #bbb;
    font-size: 14px
}

.with-buttons:hover .showme {
    display: inline-block;
    opacity: 1;
}

@media (max-width:767px) {

    #wrapper2 {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
        top: 110px;
    }

    #wrapper2.active {
        position: relative;
        left: 320px;
    }

    #wrapper2.active #sidebar-wrapper {
        left: 320px;
        width: 320px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

    .content-header {
        display: block;
        height: 60px;
        line-height: 60px;
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 50;
        background-color: #FFF;
        width: 50px;
    }

    .content-header h3 {
        margin: 0;
        padding: 10px 15px;

    }

    .content-header h3 i {
        margin: 0;
    }
}


.sidebar-nav .nav li.active > a {
    color: #3498db;
}

.sidebar-nav .nav div.active a {
    color: #3498db;
}

.aux-items {
    padding: 20px 15px;
    color: #fff;
    background-color: #5c646e;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    min-height: 68px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
}

.aux-items a {
    color: #fff;
}

.aux-items a:hover {
    color: #3498db !important;
    text-decoration: none;
}


.sidebar-nav  li  > a.doc-item-sub {
    padding: 5px 20px 5px 15px;
    font-size: 13px;
    margin-left: 20px;
    border-left: 1px solid #ddd;
}

/* SIDEBAR.css */




/**     BACKTOTOP **/

.back-top {
    width: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fefefe;
    font-size: 32px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: 0.5s;
    background-color: #818A96;
}


.back-top:hover i {

    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: 0.5s;
    color: #ccc;
}


@media (max-width: 1350px) {
    .back-top {
        display: none;
    }
}
/** backtotop **/











/*.dropdown-menu>li>a {*/
    /*display: block;*/
    /*padding: 3px 20px;*/
    /*clear: both;*/
    /*font-weight: 400;*/
    /*line-height: 1.42857143;*/
    /*color: #333;*/
    /*white-space: nowrap;*/
    /*border-bottom: 2px solid transparent;*/
/*}*/

h2.speca-header {
    font-size: 32px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 50px 15px 15px 15px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid #e1e1e1;
}

.groupHeader {
    font-size: 30px;
    margin: 50px -15px 25px -15px;
    padding: 30px 0 20px 0;
    background: none;
    border: none;
    -webkit-font-smoothing: antialiased;
}


.groupHeader:hover a.anch {
    display:inline;
}

.group-methods-summary > .row, .models-summary > .row {
    position: relative;
    padding: 8px 0;
    border-top: 1px solid #eeeeee;
}
.group-methods-summary > .row:first-child, .models-summary > .row:first-child {
    border-top: none;
}

.group-methods-summary > .row:hover, .models-summary > .row:hover {
    background-color: #fafafa;
}


.methodHeader {
    font-size: 24px;
    color: #098BCC;
    margin: 50px -15px 25px -15px;
    padding: 30px 0 20px 0;
    background: none;
    border: none;
    -webkit-font-smoothing: antialiased;
}
a.anch{
    font-size: 16px;
    color: #428bca;
    display: none;
}
a.anch:hover, a.anch:focus{
    color: #2a6496;
}


.methodHeader:hover a.anch {
    display:inline;
}
.methodUrl {
    font-size: 16px;
    margin-bottom: 10px;
}
.methodUrl .httpMethod {

}

.methodUrl .httpUrl {
    padding: 0;
}

.field-type {
    font-size: 14px;
    color: #555;
    padding: 5px 0 0 10px;
    font-family: "Courier New", monospace;
}

.field-type .primitive {
    text-transform: capitalize;
    font-family: "Courier New", monospace;
    font-size: 14px;
}

.field-type .enum {
    text-transform: capitalize;
    font-family: "Courier New", monospace;
    font-size: 14px;
}


.field-type .primitive[data-field-type^=unknown]{
    border-bottom: dashed 1px #b94a48;
}
.field-type .primitive[data-field-type^=data]{
    font-weight: bold;
}
.field-type .primitive[data-field-type^=Data]:after {
    content: '*';
    font-size: 80%;
    margin: 0 0 0 0.1em;
    vertical-align: top;
    color : rgb(236, 6, 6);
}


.primitive-type {
    text-transform: capitalize;
    font-family: "Courier New", monospace;
    font-size: 16px;
}

.enum-type {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;;
}

.model-type {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;;
}
.custom-response-type {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;;
    color: #282828;
}
.response-simple-text {
    font-size: 14px;
}



.object-type {
   font-size: 16px;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;;
    font-style: normal;
    -webkit-font-smoothing: antialiased;

}

.group-section {
    margin: 50px 0 0 0;
}
.method-section {
    margin: 30px 0 0 0;
}
.method-section {
}

.method-section>h4 {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: #585f69;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;

}
h5 {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #585f69;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;

}

.method-section>div {
    padding: 5px 0 0 15px;
}

.response-header {
}


.response-header div{
    padding-left: 0;

}

.common-response {
    padding: 15px;
}

.response-headers .fieldname{
    font-size: 13px;
}


.method-response{
    margin: 15px 0;
}

.response-header-name {
    font-size: 16px;
    word-break: break-word;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: rgb(49, 132, 149);
    margin-left: 15px;

}

.response-header-name a {
    font-size: 12px;
}


.response-header-status {
    font-size: 16px;
}



.response-body, .response-headers {
    margin: 15px 0 0 15px;
}

.response-body-title, .response-headers-title {
    color: #777;
    font-size: 16px;
    padding: 5px 0;
    -webkit-font-smoothing: antialiased
}



.methodStatus {
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    /*color: rgb(192, 80, 77);*/
    color:rgb(49, 132, 149)
}

.model-header {
    margin: 40px 0 20px 0;
    color: #333;
}


label.more {
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    color: #888;
    padding-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

label.more:hover {
    color: #3498db;
}
input.more {  display: none;  }
input.more ~ a {  display: none;}
input.more:checked ~ a {  display: inline }
input.more ~ div {  display: none;}
input.more:checked ~ div {  display: block }

.model-extends {
    font-size: 13px;
    padding: 2px 0 0 15px;
    font-style: italic;
    color: #777;
}

.model-extends a {
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;

}



.model-references {
    font-size: 13px;
    color: #777;
}

.model-references a {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.model-references a:hover {
    color: #3498db;
}


.model-references a:after {
    content: ',';
    color: #555;
}
.model-references a:last-child:after, a.more:after {  content: '';  }



.modelDescription {
    font-size: 14px;
    min-height: 30px;
    padding: 10px 0;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.internalModelDescription {
    font-size: 14px;
    min-height: 30px;
    padding: 10px;
}

.markdown {
    font-size: 14px;
    /*min-height: 30px;*/
    font-family:  "Helvetica Neue",OpenSans, sans-serif;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

.markdown h1 {
   font-size: 14px;
    font-weight: bold;
}

.markdown h2 {
    font-size: 13px;
    font-weight: bold;
}

.markdown h3 {
    font-size: 12px;
    font-weight: bold;
}

.markdown h4 {
    font-size: 12px;
    font-weight: bold;
}

.markdown a {

}

.markdown code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}


.view-param-attr  {
    padding-top: 5px;
}

.view-param-attr .lbl {
    font-size: 11px;
}

.view-param-attr .val {
    font-family: source-code-pro, monospace;
    word-break: break-all;
    margin-left: 5px;
    font-size: 13px;
}

.view-param-attr .val:after {
    content: ','
}

.view-param-attr .val:last-child:after {
    content: none
}

.description {
    /*font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;*/
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    line-height: 24px;
    color: #516066;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    /*color: #404040;*/
    font-size: 16px;
}


.description a {
    color: #00acee;
}

.description p {
    margin: 0 0 10px;
}

.description > p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.description pre {
    margin-bottom: 15px;
}

.description pre:last-child{
    margin-bottom: 5px;
}


.description h1,
.description h2 {
    padding-top: 40px;
    margin-bottom: 20px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.description h3,
.description h4,
.description h5,
.description h6 {
    padding-top: 30px;
    margin-bottom: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.description h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
    margin-top: 0;
}

.description h1 {
    font-size: 140%;
}

.description h2 {
    font-size: 130%;
}

.description h3 {
    font-size: 120%;
}

.description h4 {
    font-size: 110%;
}

.description h5 {
    font-size: 105%;
}
.description h6 {
    font-size: 105%;
}


.powered-by-sidebar {
    padding: 50px 10px 20px 15px;font-size: 14px;color: #999;-webkit-font-smoothing: antialiased
}

.powered-by-sidebar img {
    width: 80px;
    opacity: 0.5;
}

.powered-by {
    border-top: 1px solid #e1e1e1;
    margin-top:150px;
    padding: 50px 0 50px 0; text-align: right; font-size: 14px;color: #999;-webkit-font-smoothing: antialiased
}

.powered-by img {
    width: 100px;
    opacity: 0.5;
}

.tryit-modal-window .modal-dialog{
    width:1024px;
}


.edit-label {
    font-size: 14px;
    color: #999;
    padding-bottom: 5px;
    -webkit-font-smoothing: antialiased;
}

.versions-menu {
    min-width: 250px;
}
.versions-menu  span {
    display: inline-block;
}

.versions-menu span.current{
    font-weight:bold;
}

.versions-menu .default{
    font-size: 12px;
    color:#999;
    padding: 3px;
    font-weight:bold;
    float: right;
}

.versions-menu .not-published {
    font-size: 12px;
    padding: 3px;
    color: #8a6d3b;
    float: right;
}

/*.modal.fade {*/
    /*opacity: 1;*/
/*}*/

/*.modal.fade .modal-dialog, .modal.in .modal-dialog {*/
    /*-webkit-transform: translate(0, 0);*/
    /*-ms-transform: translate(0, 0);*/
    /*transform: translate(0, 0);*/
/*}*/

/*.fade {*/
    /*opacity: 0;*/
    /*-webkit-transition: none;*/
     /*transition: none;*/
/*}*/